@charset "UTF-8";

body{
	padding: 0 0 100px 0;
}

h2{
    font-family: 'century gothic';
}

.topp ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

.topp li {
    float: left;
}

.topp li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

#nav_img{
    height: 30px;
    margin: 0 10px 0 0;
}

.header {
    text-align: center;
    background-color: #282820;
    height: 400px;
    margin: 0 -8px 0 -8px;
    
}


.header img{
    opacity: 40%;
}

.infolink{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: #df5c3b;
	margin: 0 0 0 20px;
	text-decoration: none;
}

#banner_text{
    font-family: 'Brush Script MT', cursive;
    margin: auto;
    width: 97%;
    font-size: 120px;
    color: white;
    position: absolute;
    top:180px;
}

#banner_text2{
    font-family: 'century gothic';
    margin: auto;
    width: 97%;
    font-size: 18px;
    color: white;
    position: absolute;
    top:300px;
}

.credits{
	margin: 20px 0 0 0;
	color: black;
	float: right;
}

.credits a{
	color: black;
}

.food_bar{
	padding: 5px 20px 30px 20px;
	margin-top: 10px;
	border-radius: 20px;
}

.menu ul{
	list-style-type: none;
	margin: 50px 0 20px -35px;
}

.menu li {
	display: inline;
	margin: 0 10px 0 0;
}

.menu li a {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 30px;
	text-decoration: none;
	border-radius: 10px;
	padding: 30px 50px 30px 50px;
	color: white;
	background-color: #df5c3b;
	transition: 0.4s;
	box-shadow: 1px 1px 3px #000000;
}

.menu li a:hover {
	background-color: #b3cd81;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
 }

::-webkit-scrollbar-thumb {
  background: #87aa44;
}

::-webkit-scrollbar-thumb:hover {
  background: #698536; 
}

.certificado{
	padding: 5px 20px 30px 20px;
	border-radius: 20px;
	max-width: 600px;
}

.certificado img{
    height: 100px;
    float: left;
}

.certificado h3{
    font-family: Arial, sans-serif;
    margin: 20px 0 0 140px;
    color: #a39c9c;
    max-width: 490px;
}

.certificado .button{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 5px 0 0 40px;
    background-color: #df5c3b;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.dicadia{
	padding: 1px 20px 30px 20px;
	margin-top: 20px;
	border-radius: 20px;
	box-shadow: 1px 1px 4px #444444;
	max-width: 600px;
}

.dicadia h2{
    margin: 30px 0 0 10px;
}

.dicadia img{
    margin: 20px 0 0 10px;
    height: 100px;
    float: left;
}

.dicadia h3{
    font-family:sans-serif;
    margin: 20px 0 0 140px;
    color: rgb(194, 190, 190);
    max-width: 600px;
    font-size: 18px;
}

.info h2{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	text-align: center;
	font-size: 40px;
}

.info h3{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	text-align: center;
	color: #a39c9c;
	font-size: 20px;
	margin: -30px 0 50px 0;
}

.info ul{
	margin: auto;
	padding: 30px;
	width: 20%;
	min-width: 350px;
	box-shadow: 0px 1px 5px #c0c0c0;
	border-radius: 20px;
	margin-top: 20px;
	list-style-type: none;
	text-align: center;
	transition: 0.4s;
}

.info ul:hover{
	box-shadow: 0px 1px 5px #df5c3b;

}

.info p:first-of-type{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 30px;
	font-weight: bold;
	margin: 0;
	color: black;
}

.info p{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 20px;
	margin: 0 0 0 0;
	color: #a39c9c;
}

footer {
	color: white;
	min-width: 400px;
	padding: 10px;
	margin: 40px 0 -10px -12px;
	background-color: #282820;
	position: fixed;
    bottom: 0;
    width: 100%;
}

footer p{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	text-align: center;
	font-weight: bold;
}

.forminfo{
	margin: auto;
	width: 40%;
	min-width: 400px;
}

.forminfo button{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #df5c3b;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
}

.forminfo h4{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: #df5c3b;
	float: right;
	margin: -45px 0 30px 0; 
}

input{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	margin-bottom: 50px;
	width: 100%;
	border: 0;
	border-bottom: 2px solid gray;
	outline: 0;
	font-size: 25px;
	padding: 7px 0;
	background: transparent;
	transition: 0.8s;
}

input:focus {
	border-bottom: 2px solid #87aa44;
}

.infocertification{
	margin: auto;
	width: 40%;
	min-width: 400px;
}

.infocertification img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: 150px;
	width: 150px;
}

.infocertification ul {
    list-style-type: none;
}

.infocertification a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #df5c3b;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    width: 85%;
    margin: auto;
}

.infocertification li{
	
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	margin: 0 0 50px 0;
	font-size: 25px;
	color: #919191;
}

