<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head th:include="_template :: head"></head>

<body>
	<div class="topp" th:include="_template :: navbar"></div>
	<div class="info">
		<h2 th:text="#{view.title5}"></h2>
		<h3 th:text="#{view.title6}"></h3>
	</div>
	<div class="forminfo">
		<form action="/certification" method="post" th:object="${address}">
		
			<input name="endereco" placeholder="Endereço" th:field="*{endereco}">
			<h4 th:errors="*{endereco}"></h4>
			
			<input name="email" placeholder="Email" th:field="*{email}">
			<h4 th:errors="*{email}"></h4>
			
			<input name="cidade" placeholder="Cidade" th:field="*{cidade}">
			<h4 th:errors="*{cidade}"></h4>
			
			<input name="CEP" placeholder="CEP" th:field="*{CEP}">
			<h4 th:errors="*{CEP}"></h4>
			
			<input name="numero" placeholder="Numero" th:field="*{numero}">
			<h4 th:errors="*{numero}"></h4>
			
			<button th:text="#{index.buttom5}"></button>
		</form>
	</div>
</body>
<header th:include="_template :: footer"></header>
</html>