<!DOCTYPE html>
<html>
<head th:include="_template :: head"></head>
<body>
	<div class="topp" th:include="_template :: navbar"></div>
	
	<div class="info">
	<h2>Banana</h2>
	<h3>Tipo: Fruta</h3>
	</div>
	<div class="products">
	<img src="https://source.unsplash.com/4yTKah43Y2o">
			<div class="productstext">
        	<h3>A banana é uma fruta produzida por vários tipos de grandes plantas com flores herbáceas do gênero Musa. Vitaminas A, B e C são alguns dos nutrientes encontrados na banana. A presença de três tipos diferentes de açúcares naturais, sacarose, frutose e glicose, fazem com que ela seja uma ótima fonte de energia para o organismo, fornecendo 90 calorias a cada 100 gramas. Essa é uma fruta perfeita para abaixar o nível da pressão sanguínea por ter uma alta quantidade de potássio e uma pequena de sal.</h3>
    		</div>
    	<table id="customers">
		  <tr>
		    <th>Composição Nutricional</th>
		    <th>Quantidade</th>
		    <th>% Valor diário</th>
		  </tr>
		  <tr>
		    <td>Valor energético</td>
		    <td>98 kcal</td>
		    <td>4,9 %</td>
		  </tr>
		  <tr>
		    <td>Gorduras totais</td>
		    <td>0,1 g</td>
		    <td>0,18 %</td>
		  </tr>
		  <tr>
		    <td>Carboidrato</td>
		    <td>26 g</td>
		    <td>8,67 %</td>
		  </tr>
		  <tr>
		    <td>Proteína</td>
		    <td>1,3 g</td>
		    <td>1,73 %</td>
		  </tr>
		  <tr>
		    <td>Sódio</td>
		    <td>0 mg</td>
		    <td>0 %</td>
		  </tr>
		  <tr>
		    <td>Fibra alimentar</td>
		    <td>2 g</td>
		    <td>8 %</td>
		  </tr>
		</table>
		
		<h2>Dicas para não desperdiçar bananas</h2>
				<ul>
					<li>Faça um cardápio semanal, dessa forma as bananas serão bem distribuídas.</li>
				</ul>
				<ul>
					<li>Fique de olho na validade da fruta para evitar o apodrecimento.</li>
				</ul>
    </div>
	
	
</body>
<header th:include="_template :: footer"></header>
</html>