<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:include="_template :: head"></head>
<body>
    <div class="topp" th:include="_template :: navbar"></div>

    <div class="header">
        <h1 id="banner_text" th:text="#{index.title}"></h1>
        <h1 id="banner_text2" th:text="#{index.title2}"></h1>
        <img src="https://source.unsplash.com/s1xR3R7Q_H4" width="100%" height="400vw"></img>  
    </div>

    <div class="food_bar">
        <h2 th:text="#{index.subtitle}"></h2>
        <div class="menu">
	        <ul>
	            <li><a href="/banana" th:text="#{index.product}"></a></li>
	            <li><a href="/melancia" th:text="#{index.product2}"></a></li>
	            <li><a href="/laranja" th:text="#{index.product3}"></a></li>
	            <li><a href="/abacaxi" th:text="#{index.product4}"></a></li>
	        </ul>
	    </div>
    </div>
    

    <div class="certificado">
        <h2 th:text="#{index.subtitle2}"></h2>
        <img src="certificado.png"></img> 
        <h3 th:text="#{index.text}"></h3>
        <a href="/register-address" class="button" th:text="#{index.buttom}"></a>
        <a href="/addresses" class="infolink" th:text="#{index.buttom2}"></a>
        
    </div>
    
    <div class="certificado">
        <h2 th:text="#{index.subtitle3}"></h2>
        <img src="equipe.png"></img> 
        <h3 th:text="#{index.text2}"></h3>
        <a href="/register-user" class="button" th:text="#{index.buttom3}"></a>
        <a href="/users" class="infolink" th:text="#{index.buttom4}"></a>
        
    </div>

    <div class="dicadia">
        <h2 th:text="#{index.subtitle4}"></h2>
        <img src="enigma.png"></img> 
        <h3 th:text="#{index.text3}"></h3>
    </div>
 	
 	<div class="credits">
 	Icons made by
 	<a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/br/" title="Flaticon">www.flaticon.com</a>
 	</div>
</body>
<header th:include="_template :: footer"></header>
</html>