<!DOCTYPE html>
<html>
<head th:include="_template :: head"></head>
<body>
	<div class="topp" th:include="_template :: navbar"></div>
	
	<div class="info">
	<h2>Laranja</h2>
	<h3>Tipo: Fruta</h3>
	</div>
	<div class="products">
	<img src="https://source.unsplash.com/Zx3kcU2Kw9E">
			<div class="productstext">
        	<h3>A laranja é o fruto da laranjeira, uma árvore da família Rutaceae, o fruto híbrido que teria surgido na Antiguidade a partir do cruzamento do pomelo com a tangerina. Bastante popular no Brasil, a laranja é uma das maiores representantes das frutas cítricas. Seu sabor costuma ser doce ou levemente ácido (mais azedo), de acordo com o tipo da laranja.</h3>
    		</div>
    		<table id="customers">
		  <tr>
		    <th>Composição Nutricional</th>
		    <th>Quantidade</th>
		    <th>% Valor diário</th>
		  </tr>
		  <tr>
		    <td>Valor energético</td>
		    <td>46.1 kcal</td>
		    <td>2 %</td>
		  </tr>
		  <tr>
		    <td>Gorduras totais</td>
		    <td>0,1 g</td>
		    <td>0,18 %</td>
		  </tr>
		  <tr>
		    <td>Carboidrato</td>
		    <td>11,7 g</td>
		    <td>4 %</td>
		  </tr>
		  <tr>
		    <td>Proteína</td>
		    <td>0,8 g</td>
		    <td>1 %</td>
		  </tr>
		  <tr>
		    <td>Sódio</td>
		    <td>0,6 mg</td>
		    <td>0 %</td>
		  </tr>
		  <tr>
		    <td>Vitamina C</td>
		    <td>47,9 mg</td>
		    <td>106 %</td>
		  </tr>
		</table>
		
		<h2>Dicas para não desperdiçar laranja</h2>
				<ul>
					<li>Faça um cardápio semanal, dessa forma a laranja sera bem distribuída.</li>
				</ul>
				<ul>
					<li>Fique de olho na validade da fruta para evitar o apodrecimento.</li>
				</ul>
    </div>
	
	
</body>
<header th:include="_template :: footer"></header>
</html>