<!DOCTYPE html>
<html>
<head th:include="_template :: head"></head>
<body>
	<div class="topp" th:include="_template :: navbar"></div>
	
	<div class="info">
	<h2>Melancia</h2>
	<h3>Tipo: Fruta</h3>
	</div>
	<div class="products">
	<img src="https://source.unsplash.com/aFUHu9WNO3Q">
			<div class="productstext">
        	<h3>Melancia é uma planta da família Cucurbitaceae, se trata de uma trepadeira rastejante originária da África. Com uma polpa bastante suculenta, a melancia é uma fruta que passou a ser consumida no mundo inteiro por seu sabor levemente doce e agradável. Além do sabor e ajudar na hidratação corporal, a melancia contém poucas calorias em 100 gramas há apenas 30 kcal.</h3>
    		</div>
   		<table id="customers">
		  <tr>
		    <th>Composição Nutricional</th>
		    <th>Quantidade</th>
		    <th>% Valor diário</th>
		  </tr>
		  <tr>
		    <td>Valor energético</td>
		    <td>32.6kcal</td>
		    <td>2 %</td>
		  </tr>
		  <tr>
		    <td>Cálcio</td>
		    <td>7,7 mg</td>
		    <td>1 %</td>
		  </tr>
		  <tr>
		    <td>Carboidrato</td>
		    <td>8,1 g</td>
		    <td>3 %</td>
		  </tr>
		  <tr>
		    <td>Proteína</td>
		    <td>0,9 g</td>
		    <td>1,73 %</td>
		  </tr>
		  <tr>
		    <td>Vitamina C</td>
		    <td>6,2 mg</td>
		    <td>14 %</td>
		  </tr>
		  <tr>
		    <td>Fibra alimentar</td>
		    <td>0,1 g</td>
		    <td>0 %</td>
		  </tr>
		  <tr>
		    <td>Manganês</td>
		    <td>0,1 mg</td>
		    <td>4 %</td>
		  </tr>
		  <tr>
		    <td>Magnésio</td>
		    <td>9,6 mg</td>
		    <td>4 %</td>
		  </tr>
		</table>
		
		<h2>Dicas para não desperdiçar melancia</h2>
				<ul>
					<li>Armazene bem e com potes transparentes, organizando os pedaços de melancia, ajuda na forma de consumo.</li>
				</ul>
				<ul>
					<li>Congele os pedaços restantes de melancia isso ajuda na durabilidade da fruta.</li>
				</ul>
    </div>
	
	
</body>
<header th:include="_template :: footer"></header>
</html>